div.overlay {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&.dimmed {
		background-color: rgba(0, 0, 0, 0.75);
	}
}

div.lightbox {
	> div.controls {
		position: fixed;
		top: .5rem;
		right: .5rem;
		display: flex;
		z-index: 1;

		> button, > a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ccc;
			width: 48px;
			height: 48px;
			padding: 0;

			> svg {
				width: 32px;
				height: 32px;
			}
		}
	}

	> img {
		max-width: 75%;
		max-height: 75%;

		transition: rotate 0.2s;
	}
}
