div.overlay {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&.dimmed {
		background-color: var(--dimmed-overlay-background-color);
	}
}

div.lightbox {
	> div.controls {
		position: fixed;
		top: .5rem;
		right: .5rem;
		display: flex;
		z-index: 1;

		> button, > a {
			color: var(--lightbox-button-color);
			width: 3rem;
			height: 3rem;

			> svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	> img {
		max-width: 75%;
		max-height: 75%;

		transition: rotate 0.2s;
	}
}
