
div.room-view.preview > div.preview-inner {
	width: 100%;
	max-height: 100%;
	height: auto;
	max-width: 30rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;

	> img.avatar {
		width: 7.5rem;
		height: 7.5rem;
		border: 1px solid var(--border-color);
	}

	> h2.room-name {
		margin: 0;
	}

	> div.mutual-rooms {
		width: 100%;
		max-height: 20rem;
		overflow: auto;

		> h4 {
			margin: .5rem 0 0;
		}
	}

	> div.error, > div.member-count, > div.inviter-info {
		display: flex;
		align-items: center;
		gap: .25rem;
	}

	> details.room-invite-meta {
		width: 100%;

		> table > tbody > tr > td:nth-of-type(2) {
			font-family: var(--monospace-font-stack);
		}
	}

	> div.room-topic {
		white-space: pre-wrap;
		max-height: 15rem;
		overflow: auto;

		@media screen and (max-height: 50rem) {
			max-height: 7.5rem;
		}
	}

	> div.error > svg {
		flex-shrink: 0;
		width: 1.5rem;
		height: 1.5rem;
	}

	> div.buttons {
		width: 100%;
		display: flex;
		gap: .25rem;
		margin-top: 1rem;

		> button {
			padding: .5rem;
			width: 100%;

			&.reject {
				border: 2px solid var(--error-color);
				padding: .25rem .5rem;
			}
		}
	}
	> input.knock-reason {
		padding: .5rem;
		border-radius: .25rem;
		border: 1px solid var(--border-color);
		box-sizing: border-box;
		width: 100%;

		&:focus {
			outline: 1px solid var(--primary-color);
			border-color: var(--primary-color);
		}
	}
}
