div.room-header {
	display: flex;
	align-items: center;
	gap: .5rem;
	padding-left: .5rem;
	border-bottom: 1px solid var(--border-color);
	overflow: hidden;
	grid-area: header;
	container-type: inline-size;

	> div.room-name-and-topic {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		> div.room-name, > div.room-topic {
			overflow: hidden;
			text-overflow: ellipsis;
			text-wrap: nowrap;
		}

		> div.room-name {
			font-weight: bold;
		}

		> div.room-topic {
			font-size: 0.85rem;
			color: var(--secondary-text-color);
		}
	}

	> button.back {
		height: 2.5rem;
		width: 2.5rem;
	}

	> div.right-buttons {
		display: flex;
		align-items: center;
		margin-right: .5rem;

		> button {
			width: 2.5rem;
			height: 2.5rem;
		}

		&.small-screen {
			display: none;
		}

		@container (width < 30rem) {
			&.small-screen {
				display: block;
			}
			&.big-screen {
				display: none;
			}
		}
	}
}
