div.room-list {
	grid-area: roomlist;
	overflow-y: auto;

	div.room-entry {
		width: 100%;
		display: flex;
		gap: 4px;
		/*border-radius: 4px;*/
		user-select: none;
		cursor: pointer;

		&:hover {
			background-color: #EEE;
		}

		&.active {
			background-color: #DDD;
		}

		> div.room-entry-left {
			height: 3rem;
			width: 3rem;

			> img.room-avatar {
				padding: 4px;
			}
		}

		> div.room-entry-right {
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			justify-content: space-around;

			> div.room-name {
				font-weight: bold;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			> div.message-preview {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				> span.sender-name {
					display: block;
					max-width: 6rem;
					overflow: hidden;
				}

				> span.preview-text {
					display: block;
				}
			}
		}
	}
}

img.avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
}
