div.room-list-wrapper {
	grid-area: roomlist;
	background: var(--room-list-background);
	box-sizing: border-box;
	overflow: hidden;
	scrollbar-color: var(--room-list-scrollbar-color);
	display: flex;
	flex-direction: column;
}

div.room-list {
	background-color: var(--room-list-background-overlay);
	overflow-y: auto;
	flex: 1;
}

input.room-search {
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	border: none;
	background-color: var(--room-list-search-background-overlay);
	outline: none;
}

div.room-entry {
	width: 100%;
	display: flex;
	gap: 4px;
	user-select: none;
	/*cursor: pointer;*/
	height: 3rem;
	contain-intrinsic-height: 3rem;
	content-visibility: auto;

	&:hover, &:focus {
		background-color: var(--room-list-entry-hover-color);
	}

	&.active {
		background-color: var(--room-list-entry-selected-color);
	}

	> div.room-entry-left {
		height: 3rem;
		width: 3rem;

		> img.room-avatar {
			padding: 4px;
		}
	}

	> div.room-entry-right {
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		justify-content: space-around;

		> div.room-name {
			font-weight: bold;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		> div.message-preview {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			> span.sender-name {
				display: block;
				max-width: 6rem;
				overflow: hidden;
			}

			> span.preview-text {
				display: block;
			}
		}
	}

	> div.room-entry-unreads {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3rem;

		> div.unread-count {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: var(--unread-counter-text-color);

			background-color: var(--unread-counter-message-bg);
			width: 1rem;
			height: 1rem;
			line-height: 1;
			font-size: .75em;

			&.notified, &.highlighted {
				width: 1.5rem;
				height: 1.5rem;
				padding-bottom: 0;
				font-size: 1em;
				font-weight: bold;
			}

			&.notified:not(.highlighted) {
				background-color: var(--unread-counter-notification-bg);
			}

			&.highlighted {
				background-color: var(--unread-counter-highlight-bg);
			}
		}
	}
}

img.avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;

	&.small {
		width: 1rem;
		height: 1rem;
	}
}
