main.matrix-main {
	--room-list-width: 300px;
	--right-panel-width: 300px;

	position: fixed;
	inset: 0;

	display: grid;
	grid-template:
		" roomlist               rh1 roomview" 1fr
		/ var(--room-list-width) 0   1fr;

	&.right-panel-open {
		grid-template:
			" roomlist               rh1 roomview rh2 rightpanel              " 1fr
			/ var(--room-list-width) 0   1fr      0   var(--right-panel-width);
	}

	@media screen and (max-width: 750px) {
		&.right-panel-open {
			grid-template: "rightpanel" 1fr / 1fr;
			> div.room-list-wrapper {
				display: none;
			}
			> div.room-view {
				display: none;
			}
		}

		&.room-selected:not(.right-panel-open) {
			grid-template: "roomview" 1fr / 1fr;
			> div.room-list-wrapper {
				display: none;
			}
		}

		&:not(.room-selected):not(.right-panel-open) {
			grid-template: "roomlist" 1fr / 1fr;
		}
	}

	> div.room-list-resizer {
		grid-area: rh1;
	}

	> div.right-panel-resizer {
		grid-area: rh2;
	}
}
