div.message-composer {
	display: flex;
	border-top: 1px solid #ccc;
	> textarea {
		flex: 1;
		resize: none;
		font-family: sans-serif;
		height: auto;
		padding: .5rem;
		border: none;
		outline: none;
	}
	> button {
		padding: .5rem;
		border: none;
		background: none;
	}
}
