div.room-view {
	overflow: hidden;
	height: 100%;
	display: grid;
	grid-template:
		"header" 3rem
		"messageview" 1fr
		"input" auto
		/ 1fr;

	> div.room-header {
		display: flex;
		align-items: center;
		gap: .5rem;
		padding-left: 1rem;
		border-bottom: 1px solid #ccc;

		> span.room-name {
			font-weight: bold;
		}
	}
}
