div.autocompletions-wrapper {
	position: relative;
	grid-area: autocomplete;
}

div.autocompletions {
	position: absolute;
	bottom: 0;
	border-top: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	background-color: var(--background-color);
	padding: .5rem;
	max-height: 20rem;
	overflow: auto;

	> .autocompletion-item {
		padding: .25rem;
		border-radius: .25rem;
		display: flex;
		align-items: center;
		gap: .25rem;
		/*cursor: pointer;*/

		&.selected, &:hover {
			background-color: var(--light-hover-color);
		}

		> img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
