div.autocompletions-wrapper {
	position: relative;
	grid-area: autocomplete;
}

div.autocompletions {
	position: absolute;
	bottom: 1.25rem;
	left: var(--timeline-horizontal-padding);
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem var(--modal-box-shadow-color);
	background-color: var(--background-color);
	padding: .5rem;
	max-height: 20rem;
	max-width: 30rem;
	overflow: auto;

	> .autocompletion-item {
		padding: .25rem;
		border-radius: .25rem;
		display: flex;
		align-items: center;
		gap: .25rem;
		cursor: var(--clickable-cursor);
		overflow: hidden;
		height: 2rem;
		contain-intrinsic-height: 2rem;
		content-visibility: auto;

		&.selected, &:hover {
			background-color: var(--light-hover-color);
		}

		> img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
