div.message-composer {
	border-top: 1px solid var(--border-color);
	overflow: hidden;
	grid-area: input;

	blockquote.reply-body {
		pre, a.hicli-matrix-uri {
			text-wrap: auto !important;
		}
	}

	> div.input-area {
		display: flex;
		align-items: center;
		margin-right: .25rem;

		> textarea {
			line-height: 1.25;
			flex: 1;
			resize: none;
			font-family: var(--font-stack);
			height: auto;
			padding: .5rem;
			border: none;
			outline: none;
		}

		> button {
			height: 2rem;
			width: 2rem;
			padding: .25rem;
		}

		> input[type="file"] {
			display: none;
		}
	}

	> div.composer-media {
		display: flex;
		padding: .5rem;
		justify-content: space-between;

		> button {
			height: 2.5rem;
			width: 2.5rem;
			padding: .5rem;
		}
	}
}
