div.event-hover-menu {
	position: absolute;
	right: .5rem;
	top: -1.5rem;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: .5rem;
	display: flex;
	gap: .25rem;
	padding: .125rem;

	> button {
		padding: 0;
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

div.event-context-menu-extra {
	position: fixed;
	background-color: white;
	border-radius: .5rem;
	border: 1px solid #ccc;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

	display: flex;
	flex-direction: column;

	> button {
		border-radius: 0;
		padding: .5rem .75rem;
		display: flex;
		justify-content: left;
		align-items: center;
		gap: .5rem;

		&:first-of-type {
			border-radius: .5rem .5rem 0 0;
		}
		&:last-of-type {
			border-radius: 0 0 .5rem .5rem;
		}

		&.redact-button {
			color: red;
		}
	}
}

div.view-source-modal {
	max-width: min(80rem, 80vw);
	max-height: min(80rem, 80vh);
	overflow: auto;
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
}

div.confirm-message-modal {
	width: min(40rem, 80vw);
	max-height: min(40rem, 80vh);
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;

	> h3 {
		margin: 0;
	}

	> div.timeline-event-container {
		margin: .5rem 0;
		padding-left: .5rem;
		border-left: 2px solid #ccc;
		overflow: auto;

		> div.timeline-event {
			margin: 0;
		}
	}

	> input {
		padding: 1rem;
		outline: none;
		border-radius: .25rem;
		border: 1px solid #ccc;
	}

	> div.confirm-buttons {
		display: flex;
		justify-content: right;
		> button {
			padding: .5rem 1rem;
		}
	}
}
