div.context-menu {
	position: absolute;
	right: .5rem;
	top: -1.5rem;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: .25rem;
	display: flex;
	gap: .25rem;
	padding: .125rem;

	> button {
		padding: 0;
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
