blockquote.reply-body {
	margin: 0 0 .25rem;
	border-left: 2px solid var(--blockquote-border-color);
	padding: .25rem .5rem;

	&.sender-color-0 { border-color: var(--sender-color-0); }
	&.sender-color-1 { border-color: var(--sender-color-1); }
	&.sender-color-2 { border-color: var(--sender-color-2); }
	&.sender-color-3 { border-color: var(--sender-color-3); }
	&.sender-color-4 { border-color: var(--sender-color-4); }
	&.sender-color-5 { border-color: var(--sender-color-5); }
	&.sender-color-6 { border-color: var(--sender-color-6); }
	&.sender-color-7 { border-color: var(--sender-color-7); }
	&.sender-color-8 { border-color: var(--sender-color-8); }
	&.sender-color-9 { border-color: var(--sender-color-9); }

	pre {
		display: inline;

		&.chroma .line {
			display: inline;
		}
	}

	&.composer {
		margin: .5rem .5rem 0;
	}

	&:hover, &.composer {
		> div.message-text {
			color: var(--text-color);
		}
	}

	> div.message-text {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: var(--semisecondary-text-color);
	}

	&.thread > div.reply-sender > span.event-sender::after {
		content: " (thread)";
		font-size: .75rem;
		color: var(--secondary-text-color);
	}

	&.editing > div.reply-sender > span.event-sender::after {
		content: " (editing message)";
		color: var(--secondary-text-color);
	}

	> div.reply-sender {
		display: flex;
		align-items: center;
		text-wrap: nowrap;

		> div.sender-avatar {
			width: 1rem;
			height: 1rem;
			margin-right: .25rem;
		}

		> div.buttons {
			margin-left: auto;
			display: flex;
			gap: .25rem;

			> button {
				display: flex;
				align-items: center;
				border-radius: .25rem;
				padding: 0;

				> svg {
					height: 24px;
					width: 24px;
				}
			}
		}
	}
}
