div.timeline-view {
	overflow-y: scroll;
	contain: strict;

	> div.timeline-beginning {
		display: flex;
		justify-content: space-around;
		margin-top: 1rem;

		> button {
			display: flex;
			padding: .5rem 1rem;
			gap: .5rem;
		}
	}

	> div.timeline-list {
		padding-bottom: 2rem;

		width: 100%;
		position: relative;

		> div.timeline-virtual-items {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%
		}
	}
}
