div.timeline-view {
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> div.timeline-beginning {
		display: flex;
		justify-content: space-around;
		margin-top: 1rem;

		> button {
			display: flex;
			padding: .5rem 1rem;
			gap: .5rem;
		}
	}

	> div.timeline-list {
		padding-bottom: 2rem;
	}
}
